[aliases]
master-push   = ["util", "exec", "--" ,"sh", "-c", "jj bookmark move --to @- master && jj git push -b master"]
master-pull   = ["util", "exec", "--", "sh", "-c", "jj git fetch && jj new master"]

branch-push   = ["util", "exec", "--", "sh", "-c", """
name="$(jj log --no-graph --no-pager --color=never -r 'fork_point(@ | trunk())+ & fork_point(@ | trunk())..@' -T '"push-" ++ change_id.short()')"
jj bookmark set -r @- "${name}"
jj git push -b "${name}"
"""]

push-branch = ["branch-push"] # alias


[gerrit]
default-remote = "gerrit"
default-remote-branch = "master"

[git]
sign-on-push = true
write-change-id-header = true

[revsets]
log = "ancestors(trunk() | @ | working_copies() | bookmarks() | latest(mine(), 3), 5)"

[signing]
behavior = "drop" # for git.sign-on-push
backend = "ssh"
key = "/home/user/.ssh/ssh/id_ed25519"

[ui]
conflict-marker-style = "git"
default-command = ["util", "exec", "--", "sh", "-c", "jj status && jj log -r 'ancestors(@, 5)'" ]
pager = "delta"
diff-formatter = ":git"

[ui.graph]
style = "ascii-large"

[user]
email = "sean@liao.dev"
name = "Sean Liao"
