android/
ardour5/
configstore/
containers/
dconf/
dlv/
docker/
freerdp/
gcloud/
gsutil/
git/credentials
gmail/credentials.json
GNS3/
google-*
gtk-*
helm/
hub/
jupyter/
kube/
matplotlib/
menus/
mimeapps.list
neofetch/
nvim/.netrwhist
nvim/autoload
nvim/plugged
Outline Manager/
pulse/
qBittorrent/
QtProject.conf
rclone/
Riot/
SECRETS
Slack/
spotify/
systemd/user/*.wants/
TabNine/
Trolltech.conf
vlc/
wgetrc
whoozle.github.io/
yarn/
Yubico/
zsh/.zcompdump
zsh/_*
*.zwc
VirtualBox/
wireshark/
