ardour5
configstore/
dconf/
docker/
gcloud/
git/credentials
goinsta
google-*
gtk*
hub
menus/
mimeapps.list
nvim/
!nvim/init.vim
!nvim/skeleton/
Outline Manager/
qBittorrent/
QtProject.conf
ranger/
rclone/
SECRETS
spotify/
Trolltech.conf
vlc/
whoozle.github.io/
yarn/
zsh/.zcompdump
Genymobile
VirtualBox
