ardour5/
configstore/
dconf/
docker/
gcloud/
Genymobile/
git/credentials
gmail/credentials.json
google-*
gtk-*
hub/
kube/
menus/
mimeapps.list
nvim/.netrwhist
nvim/autoload
nvim/plugged
Outline Manager/
pulse/
qBittorrent/
QtProject.conf
rclone/
Riot/
SECRETS
spotify/
Trolltech.conf
vlc/
whoozle.github.io/
yarn/
zsh/.zcompdump
*.zwc
VirtualBox/
